<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_690548da129d4f4fa5ef9c6c87f5fd76 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_690548da129d4f4fa5ef9c6c87f5fd76" ></div>
        
</body>
<script>    
    
            var map_690548da129d4f4fa5ef9c6c87f5fd76 = L.map(
                "map_690548da129d4f4fa5ef9c6c87f5fd76",
                {
                    center: [37.7464745, -122.42204325],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_bd46a142241c4bbf91b5e6578b8cd05f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var marker_9bf88c3055fd47dbb2ceea93f772c051 = L.marker(
                [37.7467572266431, -122.421191821397],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_fc239f577a544868a78a73ab325c7429 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_9bf88c3055fd47dbb2ceea93f772c051.setIcon(icon_fc239f577a544868a78a73ab325c7429);
        
    
        var popup_c174600ed4c243e59ce59b56f0d528fc = L.popup({"maxWidth": "100%"});

        
            var html_cfa445e530c840c9996228492073a17a = $(`<div id="html_cfa445e530c840c9996228492073a17a" style="width: 100.0%; height: 100.0%;">1 Hour: $5/nEach Add'l 30 Min: $2/n6.5 Hours: $27/n24 Hours: $30/nMax (With Validation): $12/nMonthly: $160</div>`)[0];
            popup_c174600ed4c243e59ce59b56f0d528fc.setContent(html_cfa445e530c840c9996228492073a17a);
        

        marker_9bf88c3055fd47dbb2ceea93f772c051.bindPopup(popup_c174600ed4c243e59ce59b56f0d528fc)
        ;

        
    
    
            marker_9bf88c3055fd47dbb2ceea93f772c051.bindTooltip(
                `<div>
                     Mission Bernal Campus Parking Garage
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_de27a770d3e04903bf677349ed0f7b3b = L.marker(
                [37.7474150514088, -122.417949390943],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_3d836648412049ed9e11391a1f7be7cf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_de27a770d3e04903bf677349ed0f7b3b.setIcon(icon_3d836648412049ed9e11391a1f7be7cf);
        
    
        var popup_3c87b9f9b18746d9b1679e77a104605e = L.popup({"maxWidth": "100%"});

        
            var html_fa22977a9ed44d59b0e6d99bcf749c67 = $(`<div id="html_fa22977a9ed44d59b0e6d99bcf749c67" style="width: 100.0%; height: 100.0%;">12 Hours (Mon-Fri; In After 5pm): $20/n12 Hours (Sat-Sun): $20/nEvent: $20-$40/nMonthly: $275</div>`)[0];
            popup_3c87b9f9b18746d9b1679e77a104605e.setContent(html_fa22977a9ed44d59b0e6d99bcf749c67);
        

        marker_de27a770d3e04903bf677349ed0f7b3b.bindPopup(popup_3c87b9f9b18746d9b1679e77a104605e)
        ;

        
    
    
            marker_de27a770d3e04903bf677349ed0f7b3b.bindTooltip(
                `<div>
                     3115 Mission St Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2a186fdad3bb4940a659da97c80b4e07 = L.marker(
                [37.7473180600214, -122.418484308682],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_5044a9c270674eebbe1bd39161e68243 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_2a186fdad3bb4940a659da97c80b4e07.setIcon(icon_5044a9c270674eebbe1bd39161e68243);
        
    
        var popup_c5820364e4d44dab9c6ce8f196bab1f5 = L.popup({"maxWidth": "100%"});

        
            var html_f63395e3b6614197a2485ab62d99d3f2 = $(`<div id="html_f63395e3b6614197a2485ab62d99d3f2" style="width: 100.0%; height: 100.0%;">Max (Mon-Fri; 6pm-3am): $15/nSat-Sun: $15/nRates Reset At 7am</div>`)[0];
            popup_c5820364e4d44dab9c6ce8f196bab1f5.setContent(html_f63395e3b6614197a2485ab62d99d3f2);
        

        marker_2a186fdad3bb4940a659da97c80b4e07.bindPopup(popup_c5820364e4d44dab9c6ce8f196bab1f5)
        ;

        
    
    
            marker_2a186fdad3bb4940a659da97c80b4e07.bindTooltip(
                `<div>
                     3115 Mission St. Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_261a04134f28401d854843606315498c = L.marker(
                [37.7429075, -122.4220806],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_5d3f4b7207c5420a93dd5277b7861e18 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_261a04134f28401d854843606315498c.setIcon(icon_5d3f4b7207c5420a93dd5277b7861e18);
        
    
        var popup_d8634fbdf5624d18a034b7a7b7b916c2 = L.popup({"maxWidth": "100%"});

        
            var html_5ae7c8660f654cd3a32031b7aa693fde = $(`<div id="html_5ae7c8660f654cd3a32031b7aa693fde" style="width: 100.0%; height: 100.0%;">2 Hours (Customers Only): Free</div>`)[0];
            popup_d8634fbdf5624d18a034b7a7b7b916c2.setContent(html_5ae7c8660f654cd3a32031b7aa693fde);
        

        marker_261a04134f28401d854843606315498c.bindPopup(popup_d8634fbdf5624d18a034b7a7b7b916c2)
        ;

        
    
    
            marker_261a04134f28401d854843606315498c.bindTooltip(
                `<div>
                     3350 Mission St Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0d578a98cf7145e8928c3af763e156d1 = L.marker(
                [37.7431567, -122.4211727],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_306ea4b24c4f4500b793cd190be9f4c7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0d578a98cf7145e8928c3af763e156d1.setIcon(icon_306ea4b24c4f4500b793cd190be9f4c7);
        
    
        var popup_4bcd8c59832b4e8e849c97eb5574c1f4 = L.popup({"maxWidth": "100%"});

        
            var html_7c06465655994f1690ff645a8a478db6 = $(`<div id="html_7c06465655994f1690ff645a8a478db6" style="width: 100.0%; height: 100.0%;">Customers Only: Free</div>`)[0];
            popup_4bcd8c59832b4e8e849c97eb5574c1f4.setContent(html_7c06465655994f1690ff645a8a478db6);
        

        marker_0d578a98cf7145e8928c3af763e156d1.bindPopup(popup_4bcd8c59832b4e8e849c97eb5574c1f4)
        ;

        
    
    
            marker_0d578a98cf7145e8928c3af763e156d1.bindTooltip(
                `<div>
                     PizzaHut
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_218cc25f789e40938e91d592740ac37a = L.marker(
                [37.7448796240602, -122.420738170426],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_20847f18186d49b8bc4b291b660577fe = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_218cc25f789e40938e91d592740ac37a.setIcon(icon_20847f18186d49b8bc4b291b660577fe);
        
    
        var popup_09a7a747c2ac4bb896aa88b1bf28fef5 = L.popup({"maxWidth": "100%"});

        
            var html_1b3ecddab3d340e0adcbec8af2d890ee = $(`<div id="html_1b3ecddab3d340e0adcbec8af2d890ee" style="width: 100.0%; height: 100.0%;">Max (Out By 6am): $12</div>`)[0];
            popup_09a7a747c2ac4bb896aa88b1bf28fef5.setContent(html_1b3ecddab3d340e0adcbec8af2d890ee);
        

        marker_218cc25f789e40938e91d592740ac37a.bindPopup(popup_09a7a747c2ac4bb896aa88b1bf28fef5)
        ;

        
    
    
            marker_218cc25f789e40938e91d592740ac37a.bindTooltip(
                `<div>
                     Bank Of America
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49fa33f87f8f4d33bd3dbb98a7c69991 = L.marker(
                [37.7464745, -122.42204325],
                {}
            ).addTo(map_690548da129d4f4fa5ef9c6c87f5fd76);
        
    
            var icon_2054625236b1445b86c3fc4291138b49 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_49fa33f87f8f4d33bd3dbb98a7c69991.setIcon(icon_2054625236b1445b86c3fc4291138b49);
        
    
        var popup_7e56ca3a17724360a5097d723e83ec3e = L.popup({"maxWidth": "100%"});

        
            var html_62d96a9dcdec413499b5389b1c0a9185 = $(`<div id="html_62d96a9dcdec413499b5389b1c0a9185" style="width: 100.0%; height: 100.0%;">74-98 Duncan St, San Francisco, CA 94110</div>`)[0];
            popup_7e56ca3a17724360a5097d723e83ec3e.setContent(html_62d96a9dcdec413499b5389b1c0a9185);
        

        marker_49fa33f87f8f4d33bd3dbb98a7c69991.bindPopup(popup_7e56ca3a17724360a5097d723e83ec3e)
        ;

        
    
    
            marker_49fa33f87f8f4d33bd3dbb98a7c69991.bindTooltip(
                `<div>
                     74-98 Duncan St, San Francisco, CA 94110
                 </div>`,
                {"sticky": true}
            );
        
    
            map_690548da129d4f4fa5ef9c6c87f5fd76.fitBounds(
                [[37.7467572266431, -122.421191821397], [37.7474150514088, -122.417949390943], [37.7473180600214, -122.418484308682], [37.7429075, -122.4220806], [37.7431567, -122.4211727], [37.7448796240602, -122.420738170426], ["37.7464745", "-122.42204325"]],
                {}
            );
        
</script>