<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_83f17a7bc4bf47ca8524c2aeccc58d21 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_83f17a7bc4bf47ca8524c2aeccc58d21" ></div>
        
</body>
<script>    
    
            var map_83f17a7bc4bf47ca8524c2aeccc58d21 = L.map(
                "map_83f17a7bc4bf47ca8524c2aeccc58d21",
                {
                    center: [37.7464745, -122.42204325],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0816183604464140a264761478ad61bd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var marker_75bfb5e1ab8643b89db28e6aa4464f13 = L.marker(
                [37.7467572266431, -122.421191821397],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_87ad9313fae3412cac8dc07c5f9ca248 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_75bfb5e1ab8643b89db28e6aa4464f13.setIcon(icon_87ad9313fae3412cac8dc07c5f9ca248);
        
    
        var popup_c624e936ab6148459246f9febd12dd72 = L.popup({"maxWidth": "100%"});

        
            var html_28477d1ce4c94e929bbcd3ffaa0b4baa = $(`<div id="html_28477d1ce4c94e929bbcd3ffaa0b4baa" style="width: 100.0%; height: 100.0%;">1 Hour: $5/nEach Add'l 30 Min: $2/n6.5 Hours: $27/n24 Hours: $30/nMax (With Validation): $12/nMonthly: $160</div>`)[0];
            popup_c624e936ab6148459246f9febd12dd72.setContent(html_28477d1ce4c94e929bbcd3ffaa0b4baa);
        

        marker_75bfb5e1ab8643b89db28e6aa4464f13.bindPopup(popup_c624e936ab6148459246f9febd12dd72)
        ;

        
    
    
            marker_75bfb5e1ab8643b89db28e6aa4464f13.bindTooltip(
                `<div>
                     Mission Bernal Campus Parking Garage
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3e4b3f59378b4fd282773729a61823a1 = L.marker(
                [37.7474150514088, -122.417949390943],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_7fc11d5cdbf14fe99cc174a587218cb7 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_3e4b3f59378b4fd282773729a61823a1.setIcon(icon_7fc11d5cdbf14fe99cc174a587218cb7);
        
    
        var popup_e2013f2364da4f31aecf0a61264233d2 = L.popup({"maxWidth": "100%"});

        
            var html_7e933337728647ddb5ff300e0bb30088 = $(`<div id="html_7e933337728647ddb5ff300e0bb30088" style="width: 100.0%; height: 100.0%;">12 Hours (Mon-Fri; In After 5pm): $20/n12 Hours (Sat-Sun): $20/nEvent: $20-$40/nMonthly: $275</div>`)[0];
            popup_e2013f2364da4f31aecf0a61264233d2.setContent(html_7e933337728647ddb5ff300e0bb30088);
        

        marker_3e4b3f59378b4fd282773729a61823a1.bindPopup(popup_e2013f2364da4f31aecf0a61264233d2)
        ;

        
    
    
            marker_3e4b3f59378b4fd282773729a61823a1.bindTooltip(
                `<div>
                     3115 Mission St Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_eac72630206643c29118075602a10221 = L.marker(
                [37.7473180600214, -122.418484308682],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_c509ce633d704cdea6718a72ec58534d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_eac72630206643c29118075602a10221.setIcon(icon_c509ce633d704cdea6718a72ec58534d);
        
    
        var popup_d12bff211003428ea924a2850387fbe5 = L.popup({"maxWidth": "100%"});

        
            var html_0348d784d4ee4327a01d5d2ac22d74ae = $(`<div id="html_0348d784d4ee4327a01d5d2ac22d74ae" style="width: 100.0%; height: 100.0%;">Max (Mon-Fri; 6pm-3am): $15/nSat-Sun: $15/nRates Reset At 7am</div>`)[0];
            popup_d12bff211003428ea924a2850387fbe5.setContent(html_0348d784d4ee4327a01d5d2ac22d74ae);
        

        marker_eac72630206643c29118075602a10221.bindPopup(popup_d12bff211003428ea924a2850387fbe5)
        ;

        
    
    
            marker_eac72630206643c29118075602a10221.bindTooltip(
                `<div>
                     3115 Mission St. Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_590d73f7261c4988ba45f529936229aa = L.marker(
                [37.7429075, -122.4220806],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_bf6e3180faa444cb9a57e26e6c7485dc = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_590d73f7261c4988ba45f529936229aa.setIcon(icon_bf6e3180faa444cb9a57e26e6c7485dc);
        
    
        var popup_274c14cdc8584e05bdd0c09ccaea9a3a = L.popup({"maxWidth": "100%"});

        
            var html_3f351f4eaff44993baed034f3ed24c28 = $(`<div id="html_3f351f4eaff44993baed034f3ed24c28" style="width: 100.0%; height: 100.0%;">2 Hours (Customers Only): Free</div>`)[0];
            popup_274c14cdc8584e05bdd0c09ccaea9a3a.setContent(html_3f351f4eaff44993baed034f3ed24c28);
        

        marker_590d73f7261c4988ba45f529936229aa.bindPopup(popup_274c14cdc8584e05bdd0c09ccaea9a3a)
        ;

        
    
    
            marker_590d73f7261c4988ba45f529936229aa.bindTooltip(
                `<div>
                     3350 Mission St Parking
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_6c6aaf4bce024993b628e2c3910e9f2c = L.marker(
                [37.7431567, -122.4211727],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_00f131abe0a24f8ba1d6c7143bac6595 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_6c6aaf4bce024993b628e2c3910e9f2c.setIcon(icon_00f131abe0a24f8ba1d6c7143bac6595);
        
    
        var popup_6fdb03babb2549a0bf52b3c796c272d0 = L.popup({"maxWidth": "100%"});

        
            var html_0868a663f780490093a0e31e8313aec6 = $(`<div id="html_0868a663f780490093a0e31e8313aec6" style="width: 100.0%; height: 100.0%;">Customers Only: Free</div>`)[0];
            popup_6fdb03babb2549a0bf52b3c796c272d0.setContent(html_0868a663f780490093a0e31e8313aec6);
        

        marker_6c6aaf4bce024993b628e2c3910e9f2c.bindPopup(popup_6fdb03babb2549a0bf52b3c796c272d0)
        ;

        
    
    
            marker_6c6aaf4bce024993b628e2c3910e9f2c.bindTooltip(
                `<div>
                     PizzaHut
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8c60595d8a4f4649a1204a624ff58b7f = L.marker(
                [37.7448796240602, -122.420738170426],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_2612ba6c41ab436bb22622092824e5aa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_8c60595d8a4f4649a1204a624ff58b7f.setIcon(icon_2612ba6c41ab436bb22622092824e5aa);
        
    
        var popup_fca08eb2eb344dddbf14a5d54cecb637 = L.popup({"maxWidth": "100%"});

        
            var html_d3ddeb8579f946e782ec8b1c273f3fd1 = $(`<div id="html_d3ddeb8579f946e782ec8b1c273f3fd1" style="width: 100.0%; height: 100.0%;">Max (Out By 6am): $12</div>`)[0];
            popup_fca08eb2eb344dddbf14a5d54cecb637.setContent(html_d3ddeb8579f946e782ec8b1c273f3fd1);
        

        marker_8c60595d8a4f4649a1204a624ff58b7f.bindPopup(popup_fca08eb2eb344dddbf14a5d54cecb637)
        ;

        
    
    
            marker_8c60595d8a4f4649a1204a624ff58b7f.bindTooltip(
                `<div>
                     Bank Of America
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_796582fd132e49078dc2135e557c2888 = L.marker(
                [37.7464745, -122.42204325],
                {}
            ).addTo(map_83f17a7bc4bf47ca8524c2aeccc58d21);
        
    
            var icon_898238af524543c29092824b1780c6d9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "red", "prefix": "glyphicon"}
            );
            marker_796582fd132e49078dc2135e557c2888.setIcon(icon_898238af524543c29092824b1780c6d9);
        
    
        var popup_a97876c9eb0643c3b893813e00cf64a1 = L.popup({"maxWidth": "100%"});

        
            var html_31f1ca637bb9479d8b22208a8479e5a6 = $(`<div id="html_31f1ca637bb9479d8b22208a8479e5a6" style="width: 100.0%; height: 100.0%;">74-98 Duncan St, San Francisco, CA 94110</div>`)[0];
            popup_a97876c9eb0643c3b893813e00cf64a1.setContent(html_31f1ca637bb9479d8b22208a8479e5a6);
        

        marker_796582fd132e49078dc2135e557c2888.bindPopup(popup_a97876c9eb0643c3b893813e00cf64a1)
        ;

        
    
    
            marker_796582fd132e49078dc2135e557c2888.bindTooltip(
                `<div>
                     74-98 Duncan St, San Francisco, CA 94110
                 </div>`,
                {"sticky": true}
            );
        
    
            map_83f17a7bc4bf47ca8524c2aeccc58d21.fitBounds(
                [[37.7467572266431, -122.421191821397], [37.7474150514088, -122.417949390943], [37.7473180600214, -122.418484308682], [37.7429075, -122.4220806], [37.7431567, -122.4211727], [37.7448796240602, -122.420738170426], ["37.7464745", "-122.42204325"]],
                {}
            );
        
</script>